.modal {
  position: absolute;
  top:0;
  left:0;
  background-color: black;
  width: 100%;
  padding: 10% 0;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.58);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.7px);
  -webkit-backdrop-filter: blur(7.7px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.modal-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10%;
  height: 50%;
  padding: 20px 30px;
}

.form {
  box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.418);
  border-radius: 10px;
  padding: 20px;
}

.header {
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.container {
  width: 100%;
  &> div {
    margin-top: 20px;
    flex-direction: column;
  }
}

h3 {
  font-family: 'Courier New', Courier, monospace;
  color: black;
  font-weight: bold;
  font-size: 16px;
  text-transform: capitalize;
  background-color: var(--gray-border);
  padding: 5px 0;
  margin: 10px 0;
  border-radius: 10px 0 ;
}

p {
  font-size: 12px;
  font-weight: 400;
}

label {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

input, select, option {
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  text-align: center;
}

input {
  text-transform: lowercase;
}

form {
  display: grid;
  grid-auto-rows: auto;
  padding: 20px;
  gap: 20px;
}